#campaign-landing-page

  & #main
    background: url(/img/marketing-campaigns/ts-landing-page-bg-img.jpg) no-repeat center center
    background-size: cover
    min-height: 80vh

    & #nav-toggle

      & span
        background-color: var(--white)

    & h1 
      color: var(--white)

    & form
      color: var(--white)
