#collide

  & main
    margin: auto
    max-width: 1280px

  & #products

    & header
      margin-bottom: 8rem

    & section
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      & .product-card
        flex: 0 1 auto
        margin-bottom: 5rem
        text-align: center
        width: 35%

        & figure
          margin: 0 auto 5rem
          width: 80%

          & img
            width: 100%
