@import url(https://fonts.googleapis.com/css?family=Open+Sans)

@font-face
  font-family: 'TTSupermolot-Regular'
  src: url('./fonts/33E788_4_0.eot')
  src: url('./fonts/33E788_4_0.eot?#iefix') format('embedded-opentype'),
       url('./fonts/33E788_4_0.woff2') format('woff2'),
       url('./fonts/33E788_4_0.woff') format('woff'),
       url('./fonts/33E788_4_0.ttf') format('truetype')
