footer
  color: #fff
  background-color: #111
  display: flex
  justify-content: space-between
  text-transform: uppercase

  & a
    color: currentColor

  & p
    padding: 0

  & #footer-contact
    margin: 1em 1em 1em 3em

    & p
      display: flex
      flex-direction: column

  & #footer-nav
    display: flex
    flex-direction: column
    text-align: right
    margin: 1em 3em 1em 1em
