body
  font: normal 100%/150% var(--bodyFont)
  color: #565656
  background-color: #fff
  display: flex
  flex-direction: column

  & main
    flex: 1

  & main
    flex: 1

/* Headings */

h1,
h2,
h3
  text-transform: capitalize

h1
  font-size: 225%
  margin-bottom: 0.7em

h2
  font-size: 150%
  margin-bottom: 0.5em

h3
  margin-bottom: 1em

p
  font-size: 1.25em

/* Links */

a
  text-decoration: none
  padding: 0

  &:visited
    color: currentColor


/* Lists */

ul
  list-style: none
