body
  font: normal 100%/150% var(--bodyFont)
  color: #565656
  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

/* Headings */

h1
  font-size: 225%
  margin-bottom: 0.7em

h2
  font-size: 150%
  margin-bottom: 0.5em

h3
  margin-bottom: 1em

p
  padding-bottom: 1em

/* Links */

a
  text-decoration: none

  &:visited
    color: currentColor


/* Lists */

ul
  list-style: none
