#standard-msa-terms,
#rss-terms,
#mss-terms
  font-size: 1.1em

  & main
    max-width: 48em
    margin: 1em auto
    padding: 0 1em

    & span
      font-weight: bold

    & h2
      padding: 1em 0
