:root
  --headerFont: 'TTSupermolot-Regular', sans-serif

  --bodyFont: 'Open Sans', sans-serif

  --tsGrey: #244C5A

  --tsGreen: #80B09C

  --tsGreenHide: color(#80b09c a(50%))

  --tsLightGreen: #DBE6DF

  --tsRed: #B12029

  --tsBlue: #004877

