:root
  --headerFont: 'TTSupermolot-Regular', sans-serif

  --bodyFont: 'Open Sans', sans-serif

  --tsGrey: #244C5A

  --tsGreen: #80B09C

  --tsGreenHide: color(#244c5a a(30%))

  --tsLightGreen: #DBE6DF

  --tsRed: #B12029

  --tsBlue: #004877

  --white: #fff

